Source: astroavibrowser
Maintainer: Blaise-Florentin Collin <thx8411@users.sourceforge.net>
Standards-Version: 3.6.0

Package: astroavibrowser
Architecture: any
Section: graphics
Priority: optional
Depends: ${shlibs:Depends}
Description: Video editing tool for Astronomy
 Like AviRaw for Windows, AstroAviBrowser opens any ffmpeg known file. You may
 de-bayer your video if needed, choose the best frames and save them in a raw lossless
 compressed avi file. You may also separate RGB plans.

